body {
  font-family: "Special Elite", cursive;
}

section {
  background: rgb(9, 11, 121);
  background: linear-gradient(
    171deg,
    rgb(9, 99, 121) 52%,
    rgb(0, 238, 255) 100%
  );
  border-radius: 10px;
  color: aliceblue;
}

h3 {
  text-align: center;
}
.text {
  font-family: "Merriweather", serif;
}

.card {
  box-shadow: 10px 10px;
  border-radius: 5px;
  flex: 1 1 0;
  width: 0;
}
.criminal-container {
  border-radius: 10px;
}

.hide {
  display: none;
}

input,
select {
  color: black;
}
